@{
    ViewBag.Title = "Find An Item";
}
<script src="@Url.Content("~/Scripts/utilities.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<div class="bigspace">
    Find an item on sale close by from multiple stores at once.
    <p>
Just enter a search item, choose your zip code and choose a search radius below.
                                                        </p> 

</div> 
<div id="searchitems">
 
  @using (Ajax.BeginForm("FindAnItem", "Location", null, new AjaxOptions { UpdateTargetId = "productList" ,LoadingElementId = "loadingdiv"}))
   {
        <text> 
            <label for="searchterm">Search for</label>      
           @Html.TextBox("searchterm", @ViewBag.SearchFor as string)
           <span class="milesterm">within</span>@Html.DropDownList("withinmiles")
           <span class="ofzipcode">of zip code</span>
           @Html.TextBox("zipradius", ViewBag.CurrentZipSearch as string)
            <input value="Go" title="Search for an item" id="searchitemsButton" type="image"  src="../../images/go.png"/> 
             <input value="Go" type="submit" class="mobilesubmit"/>
        </text>
    }
    </div>
<div class="clear"></div>
<div id="loadingdiv">
    <img src="../../images/loading.gif" alt="Loading.."/>
    </div>
<div id='productList'>     
  </div> 
 
