@{
    ViewBag.Title = "Contact Confirmation";
}

 
 <h3>@ViewBag.MessageResult</h3>
 
<h3></h3>
<div class="fancyborder">
<h3> Where would you like to go next?</h3>
<p>
    <img  src="../../images/shopping-basket-add-icon.png" height="120px" alt="Weekly Shopping Made Easy" title="Weekly Shopping Made Easy" />
    <br/>
  @Html.ActionLink("Home", "Index", "Home")  | @Html.ActionLink("Search For An Item", "FindAnItem", "Location")   | 
    @Html.ActionLink("See Local Sales", "LocalSales", "Location")   |  @Html.ActionLink("View All Chains", "Index", "Chain")
    <br/>
</p>
</div>
 
 