@model IEnumerable<savnmore.Models.PasswordResetRequest>

@{
    ViewBag.Title = "Open Password Resets";
}

<h3>(@Model.Count()) Open Password Resets  | @Html.Partial("_AdminNavigationPartial")</h3>

 
<table>
    <tr>
        <th>
            UserId
        </th>
        <th>
            RequestId
        </th>
        <th>
            Hash
        </th>
        <th>
            ExpiresOn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HashId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiresOn)
        </td>
        <td>
            @Html.ActionLink("Remove all for User", "RemovePasswordReset", new { userId = item.UserId }, new { @title = "Remove all password resets for this user" })
        </td>
    </tr>
}

</table>
