@using savnmore
@using savnmore.Models
@using System.Configuration
@model savnmore.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

 
<p>
    Use the form below to change your password. 
</p>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/password_strength_plugin.js")" type="text/javascript"></script>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Change Password</legend>
            <div class="hidden">
               @Html.TextBoxFor(m=> User.Identity.Name ,new{@name="user_name", @id="user_id"})
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password, new { @class = "password_test" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
}
 @if (ConfigurationManager.AppSettings["UsePasswordStrength"].ToLower() == "true")
{
<script type="text/javascript">
    $(document).ready(function () {
        //BASIC
        $(".password_test").passStrength({
            userid: "#user_id"
        });
    });
		</script>
        }